:root {
    --red: #d63031;
    --yellow: #f1c40f;
    --navy: #192a56;
    --dark: #2d3436;
    --light: #f7f7f7;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--light);
    color: #333;
}


/* navigation bar */
a {
    text-decoration: none;
    color: inherit;
}

nav {
    background: var(--white);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .f {
    color: var(--red);
}

.logo .j {
    color: var(--yellow);
}

.nav-links {
    list-style: none;
    display: flex;
    /* gap: 15px; */
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin-left: 20px;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: var(--red);
}

/* hero image */
.hero {
    background: #f0f0f0;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    color: var(--navy);
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background: var(--red);
    color: white;
    padding: 12px 3px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* food suggestions */


/* food gallery */
.gallery {
    padding: 60px 5%;
    background: var(--light);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.gallery-item {
    text-align: center;
    background: var(--white);
    padding: 10px;
}

.gallery-item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* reuseable layout */
.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title span {
    color: var(--red);
    font-size: 1.2rem;
    letter-spacing: 2px;

}

.section-title h2 {
    font-size: 2.5rem;
    color: var(--navy);
}

.section-title h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--navy);
}

.contact h4 {
    color: var(--red)
}

.food-name {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.price {
    color: var(--red);
    font-weight: bold;
    font-size: 1.3rem;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background: var(--white);
    margin-top: 40px;
}
