:root {
    --red: #d63031;
    --yellow: #f1c40f;
    --navy: #192a56;
    --dark: #2d3436;
    --light: #f7f7f7;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--light);
    color: #333;
}


/* navigation bar */
a {
    text-decoration: none;
    color: inherit;
}

nav {
    background: var(--white);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .f {
    color: var(--red);
}

.logo .j {
    color: var(--yellow);
}

.nav-links {
    list-style: none;
    display: flex;
    /* gap: 15px; */
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin-left: 20px;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: var(--red);
}

/* hero image */
.hero {
    background: #f0f0f0;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    color: var(--navy);
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* food suggestions */


/* food gallery */
.gallery {
    padding: 60px 5%;
    background: var(--light);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.gallery-item {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

/* simple steps */
.steps {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.steps .box {
    flex: 1 1 200px;
    max-width: 220px;
    text-align: center;
}

.steps .box img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.steps .box h3 {
    font-size: 1rem;
    color: #333;
    padding-top: 10px;
    font-weight: 600;
}

/* reuseable layout */
.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title span {
    color: var(--red);
    font-size: 1.2rem;
    letter-spacing: 2px;

}

.section-title h2 {
    font-size: 2.5rem;
    color: var(--navy);
}

.section-title h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--navy);
}

.contact h4 {
    color: var(--red)
}

.food-name {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.price {
    font-weight: bold;
    color: var(--red);
    font-size: 1.1rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* menu page */

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

/* menu page scroll bar for menu */
.menu-bar {
    background: white;
    padding: 12px 10px;
    position: sticky;
    top: 60px;
    z-index: 99;
    display: flex;
    justify-content: center;
    gap: 12px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar a {
    flex: 0 0 auto;
    background: #f0f0f0;
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

/* website buttons design */
.btn {
    padding: 15px 40px;
    background-color: var(--red);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: rgb(12, 7, 100);
}

/* deals page */
.combo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.combo-card {
    background: var(--white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    position: relative;
    border: 2px solid var(--red);
}

.combo-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.combo-badge {
    background: var(--red);
    color: var(--white);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

/* about page */
.intro-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.intro-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.intro-text h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--navy);
}

.intro-text p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

/* Key Features  */
.key-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.feature-card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.feature-card h3 {
    color: var(--red);
}

.feature-card p {
    color: #555;
}

/* Stats Section */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}

.stat-card {
    background: #fdf3e7;
    border-radius: 10px;
    padding: 30px;
}

.stat-card h3 {
    color: var(--red);
    font-size: 2rem;
    margin-bottom: 10px;
}

.stat-card p {
    color: #555;
    font-weight: bold;
}

/* contact page */
.contact-info-box {
    background: var(--white);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.contact-info-box h3 {
    margin-bottom: 25px;
    color: var(--navy);
}

.contact-item {
    margin-bottom: 20px;
}

.contact-item h4 {
    color: var(--red);
    margin-bottom: 5px;
}

.contact-item p {
    margin: 2px 0;
}

/* contact form */
.order-section {
    background: var(--white);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #666;
    font-size: 0.9rem;
}

.input-group input,
.input-group textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

.form-full {
    grid-column: span 2;
}

/* FOOTER */
footer {
    background: var(--navy);
    padding: 60px 5% 20px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
}

.footer-col h3 {
    margin-bottom: 20px;
    color: white;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: lightgray;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: var(--red);
    padding-left: 5px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 0.9rem;
}
